@using MambaMVC.Areas.Admin.ViewModels
@model IEnumerable<EmployeeItemVM>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employees</h4>
            <a asp-action="create" class="btn btn-success">Create Employee</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                
                                Name
                            </th>
                            <th>
                                Surname
                            </th>
                            <th>
                                Profession
                            </th>
                            <th>
                                Settings
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>@foreach (EmployeeItemVM itemVM in Model)
                        {
                            
                        <tr>
                            <td>
                                <img src="~/Admin/assets/images/@itemVM.Image">
                            </td>
                            <td>
                                @itemVM.Name
                            </td>
                            <td>
                                @itemVM.Surname
                            </td>
                            <td>
                                    <a class="btn btn-warning" asp-action="update" asp-route-id="@itemVM.Id"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@itemVM.Id"><i class="mdi mdi-delete"></i></a>
                            </td>
                            
                        </tr>
                        }
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>